                                        /* External css  */

/* tag or elmenet selector pr direct tag name lhk k css apply krenge */
/* text pr color apply krne k 3 methods h  */

/* 01 hex code */
/* isme # color code ate hien */

/* 02 rgb value */
/* rgb means red green and blue in ki values se hum color bnate hien rgba ki min value 0 or higest ap 255 de sakte hien*/

/* ak or hota rgba */
/* yaha a k means alpha jo hum opacity or transparency ki value set krte jo 0.0 se 0.1 tk hoti h */

/* 03 color name */
/* yaha simple color name define kr k css apply krte hien */


.first_container{
    background-color: #13ec6d;
}
p{
    color: #ec13ec;
}

/* class selector pr css apply krne k lye hamesha phle dot lga k class k name lhkenge jo apne tag ko dia h */

.heading_01{
    color: rgb(90, 2, 253);
}

/* id selector pr css apply krne k lye hamesha phle # lga k id k name lhkenge jo apne tag ko dia h  */

#heading_02{
    color: aqua;
}