@font-face {
font-family: 'my_robo';
src: url('./Roboto/Roboto-VariableFont_wdth\,wght.ttf');}


body{
    
    color: black;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
}

p {
    font-family: "my_robo";
    font-weight: bolder;
    font-style: normal;
    font-stretch: expanded;
}

h1 {
    /* font-size: 32px; */
    font-size: 200%;
    
}